@use 'sass:map';
@use '../../../scss/abstracts/' as *;
@import 'bootstrap/scss/offcanvas';

:host(tds-flyout.offcanvas-backdrop)  {
  background-color: rgba(38, 38, 38, 0.2)!important;
}

.offcanvas {
  background-color: white !important;
  box-shadow: var(--bs-offcanvas-box-shadow, 8px 0px 10px -4px rgba(0, 0, 0, 0.25));

  &-xl {
    --bs-offcanvas-width: min(95vw, 1140px);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }
  &-lg {
    --bs-offcanvas-width: min(95vw, 70.5rem);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }
  &-md {
    --bs-offcanvas-width: min(95vw, 48rem);
    --bs-btn-d-flex: 0;
    --bs-offcanvas-footer-gap: 1.5rem;
  }

  &-sm {
    --bs-offcanvas-width: min(95vw, 22.5rem);
    --bs-btn-width: 100%;
    --bs-offcanvas-paddding: 0!important;
    --bs-offcanvas-footer-width: 100%;
  }

  &-end {
    --bs-offcanvas-align-content: right;
    --bs-offcanvas-position-right: 0rem;
    --bs-offcanvas-paddding: 1rem;
    --bs-offcanvas-box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.25);
    --bs-btn-border-radius: 0;
  }

  @include media-breakpoint-down(sm) {
    --bs-offcanvas-width: min(95vw, 22.5rem);
  }
}
