@use "sass:map";
@use '../../../scss/abstracts/' as *;

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';

@import 'bootstrap/scss/toasts';

.toast {
  --bs-toast-zindex: 1090;
  --bs-toast-padding-x: 1.25rem;
  --bs-toast-padding-y: 1.25rem;
  --bs-toast-spacing: 1.5rem;
  --bs-toast-max-width: 28rem;
  --bs-toast-font-size: 1rem;
  --bs-toast-color: ;
  --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 0.85);
  --bs-toast-border-width: var(--bs-border-width);
  --bs-toast-border-color: var(--bs-border-color-translucent);
  --bs-toast-border-radius: 0rem 0.25rem 0.25rem 0rem;
  --bs-toast-box-shadow: var(--bs-box-shadow);
  --bs-toast-header-color: var(--bs-secondary-color);
  --bs-toast-header-bg: rgba(var(--bs-body-bg-rgb), 0.85);
  --bs-toast-header-border-color: var(--bs-border-color-translucent);

  width: var(--bs-toast-max-width);
  max-width: 100%;
  font-size: var(--bs-toast-font-size);
  color: var(--bs-toast-color);
  pointer-events: auto;
  background-color: var(--bs-toast-bg);
  background-clip: padding-box;
  border: var(--bs-toast-border-width) solid var(--bs-toast-border-color);
  box-shadow: var(--bs-toast-box-shadow);
  border-radius: var(--bs-toast-border-radius);
  border-left: 4px solid var(--Black, black);
}

[data-bs-state='error'] {
  --bs-toast-header-bg: rgba(#fbecf0, 1);
  --bs-toast-bg: #fbecf0;
  border-left: 4px solid var(--Cherry, #cd163f);
}

[data-bs-state='information'] {
  --bs-toast-header-bg: rgba(#ebf3f9, 1);
  --bs-toast-bg: #ebf3f9;
  border-left: 4px solid var(--Cobalt, #006fba);
}

[data-bs-state='confirmation'] {
  --bs-toast-header-bg: rgba(#eff5ef, 1);
  --bs-toast-bg: #eff5ef;
  border-left: 4px solid var(--Forest, #38853c);
}

[data-bs-state='alert'] {
  --bs-toast-header-bg: rgba(#fef9eb, 1);
  --bs-toast-bg: #fef9eb;
  border-left: 4px solid var(--Sunset, #ff6200);
}
