@use 'sass:map';
@use '../../../scss/abstracts/' as *;
@import 'bootstrap/scss/tooltip';

.tooltip .tooltip-arrow {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
}

.tooltip {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s;
  box-sizing: border-box;
}
.tooltip.show {
  opacity: 1;
}
.tooltip-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  transform: rotate(45deg);
  box-sizing: border-box;
  display: none;
}
